<div class="pass-container">
  <div class="pass-content">
    <p class="login-title">パスワードをお忘れですか？</p>
    <div class="login-form">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="ps-field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"pass-field" %>
        </div>

        <div class="actions">
          <%= f.submit "パスワードのリセット手順を受け取る", class:"pass-btn" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
