<div class="category-content">
  <%= image_tag 'caption01.png', class: "caption01" %>
  <div class="category-content__items fadeUpTrigger">
    <%= link_to basic_posts_path, class: "category-link" do %>
      <% image_tag 'category-logo_01.png', class: "category-img" %>
    <% end %>
    <%= link_to feminine_posts_path, class: "category-link" do %>
      <% image_tag 'category-logo_02.png', class: "category-img"  %>
    <% end %>
    <%= link_to colorful_posts_path, class: "category-link" do %>
      <% image_tag 'category-logo_03.png', class: "category-img"  %>
    <% end %>
    <%= link_to stylish_posts_path, class: "category-link" do %>
      <% image_tag 'category-logo_04.png', class: "category-img2"  %>
    <% end %>
    <%= link_to sneaker_posts_path, class: "category-link" do %>
      <% image_tag 'category-logo_05.png', class: "category-img2"  %>
    <% end %>
  </div>
  <%= image_tag 'caption02.png', class: "caption02" %>
  <% if user_signed_in? %>
    <%= link_to 'more >' , index_all_posts_path, class: "all-posts fadeUpTrigger" %>
  <% else %>
    <%= link_to 'more >' , all_posts_posts_path, class: "all-posts fadeUpTrigger" %>
  <% end %>
</div>
