<div class="container">
  <div class="container__post">
    <p class="post-title">確認画面</p>
      <div class="container__post-content">
        <div class="image">
          <%= image_tag @post.post_image.url, class: "post_image" %>
        </div>
        <div class="content">
          <p class="form-text"><%= @post.title %></p>
          <p class="form-area"><%= safe_join(@post.introduction.split("\n"),tag(:br)) %></p>
          <p class="form-area"> カテゴリー：<%= @post.category %></p>
          <%= form_with model: @post, local: true do |f| %>
            <%= f.hidden_field :post_imag %>
            <%= f.hidden_field :post_image_cache %>
            <%= f.hidden_field :title %>
            <%= f.hidden_field :introduction %>
            <%= f.hidden_field :category %>
            <p class="status">ステータスを選択して完了してください。</p>
            <%= f.select :status, Post.statuses.keys.map { |k| [t("enums.post.status.#{k}"),k]}, {}, {class: 'select'}  %>
            <p><%= f.submit "完了", class:"confirm-btn" %></p>
            <p><%= f.submit "＜戻る", name: :back, class:"confirm-back" %></p>
          <% end %>
        </div>
      </div>
  </div
</div>
