<div class="index-container">
  <p class="title">フェミニン</p>
  <div class="index-content">
  <% @posts.each do |post| %>
    <div class="index-items">
      <p><%= post.title %></p>
      <p><%= image_tag post.post_image.url, class: "index-image" %></p>
      <div class="index-nav">
        <div class="index-user">
          <% if post.user.avatar? %>
            <p><%= image_tag post.user.avatar.url, size: '50x50', class: "index-icon" %></p>
          <% else %>
            <%= image_tag 'icon_dummy.png', size: '50x50', class:"index-icon" %>
          <% end %>
          <p class="user-name"><%= post.user.name %></p>
        </div>
        <%= link_to "more", post_path(post), class: "show-link" %>
      </div>
    </div>
  <% end %>
  <%= paginate(@posts) %>
</div>
</div>
