<div class="index-container">
  <p class="title">みんなの投稿</p>
  <div class="index-content">
    <% @posts.each do |post| %>
      <div class="index-items">
        <p><%= post.title %></p>
        <p><%= image_tag post.post_image.url, class: "index-image" %></p>
        <% if post.user.avatar? %>
          <p><%= image_tag post.user.avatar.url, size: '50x50', class: "index-icon" %></p>
        <% else %>
          <%= image_tag 'icon_dummy.jpg', size: '50x50', class:"index-icon" %>
        <% end %>
        <p><%= post.user.name %></p>
        <p><%= link_to "詳細", post_path(post) %></p>
      </div>
    <% end %>
  </div>
</div>
