<div class="container">
  <div class="container__post">
    <p class="post-title">投稿内容詳細</p>
      <div class="container__post-content">
        <div class="image">
          <%= image_tag @post.post_image.url, class: "post_image" %>
        </div>
        <div class="content">
          <p class="form-text"><%= @post.title %></p>
          <p class="form-area"><%= safe_join(@post.introduction.split("\n"),tag(:br)) %></p>
          <p class="form-area"> カテゴリー：<%= @post.category %></p>
          <div class="content-items">
            <div class="favo-cont">
              <%= image_tag 'favo-logo-01.png' %>
              <p class="text-count"><%= @post.favorites.count %></p>
            </div>
            <% if current_user.following?(@user) %>
              <%= link_to "フォロー外す", user_relationships_path(@user), method: :delete, class: "follow" %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(@user), method: :post, class: "follow" %>
            <% end %>
            <%= link_to "< 戻る", posts_path, class: "back" %>
          </div>
        </div>
      </div>
  </div>
  <div class="comment-box">
    <%= form_with model: [@post, @comment] do |f| %>
      <%= f.text_area :comment, size: "110x3", class: "comment-text" %>
      <%= f.submit 'コメントする', class: "comment-btn" %>
    <% end %>
    <p>コメント: <%= @comments.count %></p>
    <table>
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <% if comment.user.avatar? %>
              <td><%= image_tag comment.user.avatar.url, size: '50x50', class: "comment-icon" %></td>
            <% else %>
              <td><%= image_tag 'icon_dummy.png', size: '50x50' %></td>
            <% end %>
            <td><%= comment.user.name %>：</td>
            <td><%= comment.comment %></td>
            <% if user_signed_in? && current_user.id == comment.user_id %>
              <td><%= link_to "削除", post_comment_path(@post, comment), method: :delete, class: "comment-delete" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
