<!DOCTYPE html>
<html>
  <head>
    <title>ASHIMOTO App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="nav">
        <p class="nav__logo">ASHIMOTO SHARE</p>
        <div class="nav__btn">
          <button>ログイン</button>
          <button>新規登録</button>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
        <p>ASHIMOTO SHARE</p>
        <p>© 2022 ASHIMOTO, Inc.</p>
    </footer>
  </body>
</html>
